@use "./components/articleStyle";
@use "./breakpoints/breakpoints";
@use "./components/helper";
* {
  margin: 0;
  padding: 0;
}

body {
  section {
    width: min(90%, 75rem);
    display: grid;
    gap: 30px;
    margin: 50px auto;
  }
}

