@use "./components/articleStyle";
@use "./breakpoints/breakpoints";
@use "./components/helper";
* {
  margin: 0;
  padding: 0;
}

body {
  section {
    width: min(90%, 75rem);
    display: grid;
    gap: 30px;
    margin: 50px auto;
    .quote-mark {
      background-image: url("../images/bg-pattern-quotation.svg");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 100px 100px;
      background-position: top right 20%;
    }
  }
}
